@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

h1,
h2,
h3 {
  padding: 20px 0px;
  color: rgb(60, 60, 60);
}

p {
  color: rgb(60, 60, 60);
}

.accordion-form-container {
  margin: 0;
  padding: 0;
}

.row {
  padding: 0;
  margin: 0;
}

.main-container {
  width: 100%;
  margin: 0;
  min-height: 100vh;
}

.inventory-sidepanel {
  background-color: rgb(41, 107, 63);
  padding: 5px;
  border: "none";
}

.inventory-sidepanel h3,
label {
  color: white;
}

.item-card {
  margin-bottom: 20px;
  box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.3);
}
.item-card-header {
  background-color: rgb(60, 60, 60);
}

.navbar {
  box-shadow: 2px 2px 12px 1px rgba(0, 0, 0, 0.3);
  z-index: 100;
}
