@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

h1,
h2,
h3 {
  padding: 20px 0px;
  color: rgb(60, 60, 60);
}

p {
  color: rgb(60, 60, 60);
}

.accordion-form-container {
  margin: 0;
  padding: 0;
}

.row {
  padding: 0;
  margin: 0;
}

.main-container {
  width: 100%;
  margin: 0;
  min-height: 100vh;
}

.inventory-sidepanel {
  background-color: rgb(41, 107, 63);
  /* background-image: url("https://www.transparenttextures.com/patterns/wavecut.png"); */
  padding: 5px;
  border: "none";
}

.inventory-sidepanel h3,
label {
  color: white;
}

.item-card {
  margin-bottom: 20px;
  box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.3);
  min-height: 100%;
}

.group-card {
  margin-bottom: 20px;
  box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.item-card-header {
  background-color: rgb(60, 60, 60);
  padding: 4px;
}

.navbar {
  box-shadow: 2px 2px 12px 1px rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.welcome {
  background-color: rgb(41, 107, 63);
}

.welcome p {
  color: white;
}

.welcome-box {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px;
  border-radius: 5px;
  min-height: 100%;
}

.boxshadow {
  box-shadow: 2px 3px 12px 2px rgba(0, 0, 0, 0.3);
}

.tabs-form-nav {
  border-color: rgb(92, 184, 92);
}
.tabs-nav-item {
  color: rgb(92, 184, 92);
}

.tabs-nav-item :hover {
  color: white;
  background: rgb(43, 165, 84);
}

.tabs-active-nav-item {
  color: yellow;
  background: red;
}

.tabs-nav-link {
  text-decoration: none;
  color: white;
}

.item-icon {
  width: "20px";
  height: "20px";
}
